/*Alumna: Victoria Yen
	Idea: Pagina web comercial dedicada a los amantes de los gatos
	Curso: Desarrollo web 
	Profesor: Dario Ceballos
	Tutora: Vanina Ragalli
	Entrega: Proyecto Final
*/
/*CSS index*/
/*ANIMACION*/
@-webkit-keyframes latido {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes latido {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

/*FIN ANIMACION*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.logoSeccion {
  margin-left: 45%; }

.latido {
  -webkit-animation: latido 1.5s ease-in-out infinite both;
  animation: latido 1.5s ease-in-out infinite both; }

body {
  background-image: url("../../img/space.webp");
  background-size: contain;
  font-family: comfortaa, arial, sans-serif;
  color: #ffeb7c;
  padding: 20px; }

/*Menu con submenu*/
img {
  max-width: 100%; }

#nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: nav; }

.search {
  display: flex; }

.navIcon {
  text-align: center; }
  .navIcon li img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%; }

nav li {
  display: inline-block; }
  nav li a {
    text-transform: uppercase;
    font-family: staatliches;
    color: #b5ffe6;
    font-size: 2.2rem; }

.contenedorMenu {
  grid-area: menu;
  text-align: center; }
  .contenedorMenu a {
    padding: 20px; }
    .contenedorMenu a:hover {
      background-color: #ca97da; }

.contenidoDesplegable {
  display: none;
  position: absolute;
  background-color: #9967af;
  min-width: 160px;
  z-index: 1;
  transition: width 3s; }
  .contenidoDesplegable:hover .menuDesplegable {
    background-color: #ca97da;
    padding: 20px; }
  .contenidoDesplegable a {
    color: #e6fff7;
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }

.menuDesplegable:hover .contenidoDesplegable {
  display: block;
  height: 200px; }

/*Fin del menu con submenu*/
.staatliches {
  font-family: staatliches;
  color: #ebf566;
  background-color: #9656d3;
  height: 40%;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  text-align: center;
  font-size: 4 rem; }

.italica {
  font-style: italic; }

.primeraSeccion {
  margin-bottom: 10px; }

h1 {
  color: hotpink;
  text-transform: uppercase;
  font-size: 45px;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  font-family: Pacifico; }

/*CSS modificado carousel*/
.carousel {
  width: fit-content;
  height: fit-content;
  margin: auto; }
  .carousel .w-100 {
    width: auto !important; }

.seccionFlex {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: space-between; }

/*TRANFORMACION*/
.scale div img:hover {
  transform: scale(1.2); }

/*Seccion Multimedia*/
#parrafo {
  color: white;
  font-family: staatliches;
  font-size: 1.5rem;
  overflow-y: scroll;
  height: 40vh; }

.textoFlex {
  background: #e196ff;
  display: flex;
  align-items: center;
  margin: 2% 10% 2% 10%; }
  .textoFlex div {
    width: 50%;
    height: 40vh; }

strong {
  -webkit-text-stroke-color: #ab77ff;
  -webkit-text-stroke-width: 0.05rem;
  font-size: 3rem;
  color: white;
  font-family: staatliches; }

ul {
  font-size: 2 rem;
  color: #7d32df;
  padding: 0;
  list-style: none; }

.ver-mas {
  padding: 1em 0;
  text-align: center; }
  .ver-mas .boton {
    padding: 5px;
    font-size: 20px;
    font-family: staatliches;
    color: hotpink; }

.inicioFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2.5vh; }

.inicioImg {
  width: 300px;
  height: 300px; }

.footerRedes {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .footerRedes a img {
    max-width: 40px;
    max-height: 40px; }

footer .contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

#copyRight {
  background-color: #b56bfa;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin-top: 5px; }

.destacados div img {
  width: 400px;
  height: 400px; }

h2 {
  background-color: #9656d3;
  width: 80%;
  margin: 5% 5%;
  margin-left: 10%;
  text-align: center;
  font-size: 2.5rem;
  font-family: staatliches; }

/*CSS en seccion productos*/
.productosFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

@-webkit-keyframes color-change-2x {
  0% {
    background: #b4e3ff; }
  100% {
    background: #dca1ff; } }

@keyframes color-change-2x {
  0% {
    background: #4eeaff; }
  100% {
    background: #ec9fff; } }

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both; }

/*CSS en Destacados*/
.destacadosFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

/* CSS en seccion Novedades*/
.bodyNovedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; }

#contenedorNovedades {
  background-color: #8e7cf3;
  font-size: 1.5rem;
  word-spacing: 5px;
  width: 80%;
  height: 100%;
  padding: 5%;
  margin-left: 10%; }

#contenedorNovedadesI {
  background-color: #a774e9;
  font-size: 1.5rem;
  word-spacing: 5px;
  width: 80%;
  height: 100%;
  padding: 5%;
  margin-left: 10%; }

#contenedorNovedadesII {
  background-color: #da9df7;
  font-size: 1.5rem;
  word-spacing: 5px;
  width: 80%;
  height: 100%;
  padding: 5%;
  margin-left: 10%; }

#contenedorNovedades2 {
  background-color: #d69efc;
  font-size: 1.5rem;
  word-spacing: 5px;
  width: 80%;
  height: 100%;
  padding: 5%;
  margin-left: 10%; }

.h1Secciones {
  -webkit-text-stroke-color: #553ddd;
  -webkit-text-stroke-width: 0.05rem;
  font-family: staatliches;
  font-size: 3.5rem; }

/* CSS en seccion formulario */
.form {
  background-color: #bf6df7;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 40%;
  height: 40%;
  margin-left: 30%; }

.staatlichesform {
  font-family: staatliches;
  color: #ebf566;
  background-color: #9656d3;
  width: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 30%;
  text-align: center;
  font-size: 4 rem; }

.footerRedes {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .footerRedes a img {
    width: 40px;
    height: 40px; }

.header {
  display: grid; }

.header__logo {
  grid-area: logo;
  align-content: left; }
  .header__logo img {
    border-radius: 100%; }

/*Movil*/
@media (max-width: 640px) {
  html {
    font-size: 13px; }
  .header {
    display: grid;
    grid-template-areas: "logo menu" "nav nav";
    max-width: 100%;
    align-items: center;
    grid-row-gap: 5%;
    margin-bottom: 5%; }
  #nav {
    display: flex;
    flex-direction: row;
    align-content: center; }
    #nav nav {
      width: 40%; }
      #nav nav .navIcon li img {
        padding: 10%;
        max-width: 40px; }
    #nav .search {
      flex-direction: column; }
  #logo img {
    margin: 0; }
  .header__menu__lista {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: left; }
    .header__menu__lista li {
      margin-top: 2%; }
  .ver-mas {
    padding: 1em 0;
    text-align: center; }
    .ver-mas .boton {
      padding: 5px;
      font-size: 20px;
      font-family: staatliches;
      color: hotpink;
      margin-top: 8%; }
  h1 {
    font-size: 30px; }
  .textoFlex {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .textoFlex div {
      width: 100%; }
  #parrafo {
    color: white;
    font-family: staatliches;
    overflow-y: scroll;
    width: 90%;
    height: 50%; }
    #parrafo p {
      font-size: 1rem; }
  .overflow {
    max-width: 80%; }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%; }
  nav li {
    display: inline-block; }
    nav li a {
      text-transform: uppercase;
      font-family: staatliches;
      color: #a680ff;
      font-size: 2.2rem; } }

/*Tablet */
@media (min-width: 641px) and (max-width: 780px) {
  .header {
    display: grid;
    grid-template-areas: "logo" "nav" "menu";
    max-width: 100%; }
  #nav {
    display: flex;
    align-items: center; }
    #nav nav img {
      margin-right: 20%;
      padding: 10%; }
  #logo img {
    margin-left: 35%;
    margin-bottom: 3%; }
  .header__menu__lista {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 40%; }
    .header__menu__lista li {
      margin: 2%;
      padding: 2%; }
  .ver-mas {
    padding: 1em 0;
    text-align: center; }
    .ver-mas .boton {
      padding: 5px;
      font-size: 20px;
      font-family: staatliches;
      color: hotpink;
      margin-top: 8%; }
  .textoFlex {
    background-color: violet;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .textoFlex div {
      width: 100%; }
  #parrafo {
    color: white;
    font-family: staatliches;
    font-size: 1.5rem;
    overflow-y: scroll;
    width: 90%;
    height: 50%; }
  .overflow {
    max-width: 90%; } }

/*Desktop*/
@media (min-width: 781px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "none logo logo nav" "menu menu menu menu"; }
  #logo {
    align-content: center; }
  .header__menu__lista li {
    background-color: #ffaaff;
    margin: 1%; }
    .header__menu__lista li a {
      text-decoration: none; }
  .ver-mas {
    padding: 1em 0;
    text-align: center; }
    .ver-mas .boton {
      padding: 5px;
      font-size: 20px;
      font-family: staatliches;
      color: hotpink;
      margin-top: 3%; } }
